---
layout: default
---

<div class="home content">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

 {% if site.front_img %}
    <img src="{{ site.front_img_path }}" id="fullscreen">
  {% endif %}

  {% if site.avatar %}
      <img src="{{ site.avatar_img_path }}" id="avatar">
  {% endif %}

  <h1>{{ site.author.name }}</h1>
  <h3 id=descr_header>{{ site.author.description }}</h3>
  <h3> <span class="fa fa-map-marker"></span> {{ site.author.location }}</h3>

  <ul>
    {% if site.github_username %}
    <li><a class="fa fa-2x fa-github" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
    {% endif %}

    {% if site.codepen_username %}
    <li><a class="fa fa-2x fa-codepen" href="https://codepen.io/{{ site.codepen_username }}"><span class="description">CodePen</span></a></li>
    {% endif %}

    {% if site.facebook_username %}
    <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ site.facebook_username }}"><span class="description">Facebook</span></a></li>
    {% endif %}

    {% if site.vk_username %}
    <li><a class="fa fa-2x fa-vk" href="https://vk.com/{{ site.vk_username }}"><span class="description">ВКонтакте</span></a></li>
    {% endif %}

    {% if site.twitter_username %}
    <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span class="description">Twitter</span></a></li>
    {% endif %}

    {% if site.google_plus_username %}
    <li><a class="fa fa-2x fa-google-plus" href="https://plus.google.com/+{{ site.google_plus_username }}"><span class="description">Google +</span></a></li>
    {% endif %}

    {% if site.linkedin_username %}
    <li><a class="fa fa-2x fa-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="description">LinkedIn</span></a></li>
    {% endif %}

    {% if site.vine_username %}
    <li><a class="fa fa-2x fa-vine" href="https://vine.co/{{ site.vine_username }}"><span class="description">Vine</span></a></li>
    {% endif %}

    {% if site.instagram_username %}
    <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"><span class="description">Instagram</span></a></li>
    {% endif %}

    {% if site.flickr_usernmae %}
    <li><a class="fa fa-2x fa-flickr" href="https://flickr.com/photos/{{ site.flickr_username }}"><span class="description">Flickr</span></a></li>
    {% endif %}

    {% if site.steam_username %}
    <li><a class="fa fa-2x fa-steam" href="http://steamcommunity.com/id/{{ site.steam_username }}"><span class="description">Steam</span></a></li>
    {% endif %}

    {% if site.soundcloud_username %}
    <li><a class="fa fa-2x fa-soundcloud" href="https://soundcloud.com/{{ site.soundcloud_username }}"><span class="description">Soundcloud</span></a></li>
    {% endif %}

    {% if site.lastfm_username %}
    <li><a class="fa fa-2x fa-lastfm" href="http://www.last.fm/user/{{ site.lastfm_username }}"><span class="description">Last.fm</span></a></li>
    {% endif %}

    {% if site.stack_of_username %}
    <li><a class="fa fa-2x fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stack_of_username }}"><span class="description">Stack OF</span></a></li>
    {% endif %}

    {% if site.reddit_username %}
    <li><a class="fa fa-2x fa-reddit" href="https://reddit.com/user/{{ site.reddit_username }}"><span class="description">Reddit</span></a></li>
    {% endif %}

    {% if site.medium_username %}
    <li><a class="fa fa-2x fa-medium" href="https://medium.com/@{{ site.medium_username }}"><span class="description">Medium</span></a></li>
    {% endif %}

    {% if site.tumblr_username %}
    <li><a class="fa fa-2x fa-tumblr" href="https://{{ site.tumblr_username }}.tumblr.com/"><span class="description">Tumblr</span></a></li>
    {% endif %}

    {% if site.weibo_username %}
    <li><a class="fa fa-2x fa-weibo" href="https://weibo.com/{{ site.weibo_username }}"><span class="description">微博</span></a></li>
    {% endif %}

    {% if site.blog_url %}
    <li><a class="fa fa-2x fa-tags" href="{{ site.baseurl }}{{ site.blog_url }}"><span class="description">Blog</span></a></li>
    {% endif %}

    {% if site.author.email %}
    <li><script type="text/javascript"> eval(unescape('%64%6F%63%75%6D%65%6e%74%2E%77%72%69%74%65%28%27%3C%61%20%63%6C%61%73%73%3D%22%66%61%20%66%61%2D%32%78%20%66%61%2D%65%6E%76%65%6C%6F%70%65%22%20%68%72%65%66%3D%22%6D%61%69%6C%74%6F%3A%70%61%6E%6D%40%70%63%6C%6F%75%64%2E%67%72%22%3E%3C%2F%61%3E%27%29'))</script><span class="description">Email</span></a></li>
    <noscript>[email protected; enable js]</noscript>
    {% endif %}

    {% if site.author.public_key_url %}
    <li><a class="fa fa-2x fa-key" href="{{ site.author.public_key_url | relative_url }}"><span class="description">PGP Key</span></a></li>
    {% endif %}
  </ul>
</div>